:root {
    --color-negro: #000000; /* Header y Footer */
    --color-blanco: #FFFFFF; /* Fondo principal */
    --color-beige: #F5F5DC;
    --color-beige-claro: #FAF3E0; /* Fondo Aside */
    --color-beige-tostado: #F8ECD5; /* Fondo Sección Alternativa */
    --color-cafe: #6F4E37;
    --color-cafe-oscuro: #4E342E; /* Texto y detalles */
    --color-dorado: #DAA520; /* Detalles como bordes */
    --color-dorado-suave: #D4AF37; /* Divisores */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}
.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    border-bottom: solid var(--color-dorado) 2px;
}
.logo {
    width: 10vh;
    height: 10vh;
    background-color: var(--color-dorado);
    padding: 1rem;
}
.header__title {
    margin: 0.6rem;
    font-size: 2rem;
}
.menu-hamburguesa {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 2.4rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0.5rem;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    border-color: var(--color-dorado)
}
.nav__item {
    display: inline-block;
    padding: 0.4rem;
    margin: 0.1rem;
    background-color: var(--color-blanco);
    border-radius: 0.4rem;
}
a {
    transition: 0.2s;
    color: var(--color-dorado);
    text-decoration: none;
}
a:hover {
    transition: 0.4s;
    color: var(--color-cafe);
    text-decoration: underline;
}
.nav_disabled {
    display: none;
}
.aside {
    position: sticky;
    top: 10vh;
    width: 100vw;
    background-color: var(--color-beige-claro);
    color: var(--color-negro);
}
.main {
    width: 100vw;
    background-color: var(--color-blanco);
}
.section {
    padding: 1rem 2rem;
    border-bottom: solid 0.2rem var(--color-dorado);
}
.section:nth-of-type(odd) {
    background-color: var(--color-beige-tostado);
}
.section:last-child {
    border: none;
}
.section__title {
    margin: 0 0 1.6rem 0;
    font-weight: 800;
    font-size: 2.4rem;
    color: var(--color-dorado);
}
.section__subtitle {
    margin: 0 0 1.2rem 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-dorado);
}
.section__content {
    text-align: justify;
    padding: 3rem 2.6rem;
}
footer {
    position: sticky;
    bottom: 0;
    width: 100vw;
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

@media (min-width: 600px) {
    /* fija el aside como barra lateral, antes se encontraba como "nav-menu desplegable hamburguesa" */
    .aside {
        position: sticky;
        width: 20%;
        max-width: 17rem;
        height: 90vh;
        border-right: solid 0.2rem var(--color-dorado-suave);
    }
    .nav__item {
        display: block;
        margin: 1.6rem 1rem;
        max-width: 15rem;
    }
    .nav_disabled {
        display: block;
    }
    .menu-hamburguesa {
        display: none;
    }
    .main {
        width: 70%;
        flex-grow: 1;
    }
}

@media (min-width: 1024px) {
    /* Limita el crecimiento horizontal de las secciones */
    .sections-cont{
        max-width: 90rem;
        margin: 0 auto;
    }
}