* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    color: #1E3A8A;
    font-size: 20px;
}
a {
    color: #EF4444;
}
header {
    height: 20vh;
    position: relative;
    background-color: #8B5CF6;
}
.logo {
    height: inherit;
}
.logo__img {
    height: inherit;
    padding: 1.2rem;
    border-radius: 2.5rem;
}
.main-nav {
    position: absolute;
    top: 4.8rem;
    right: 4.8rem;
    text-align: center;
}
.main-nav__item {
    background-color: #F59E0B;
    border-radius: 0.6rem;
    display: inline-block;
    margin: 0 0.4rem;
    padding: 1rem 1.5rem;
}
.aside {
    display: inline-block;
    width: 20rem;
    height: 60vh;
    overflow: hidden;
    background-color: #10B981;
}
.aside__item {
    width: 17rem;
    height: 12rem;
    margin: 1.8rem auto;
    background-color: #374151;
    border-radius: 2rem;
}
main {
    position: absolute;
    top: 20vh;
    right: 0;
    display: inline-block;
    width: calc(100vw - 20rem);
    height: 60vh;
    overflow: hidden;
    vertical-align: top;
    padding: 2rem;
    background-color: #F59E0B;
    text-align: justify;
}
.footer {
    position: absolute;
    top: 80vh;
    width: 100vw;
    min-height: 20vh;
    background-color: #374151;
}
.enterprise-information {
    display: inline-block;
    width: 50vw;
    padding: 3rem;
}
.social-media-links {
    display: inline-block;
    width: 50vw;
    vertical-align: top;
}
.social-media-links__titulo {
    font-size: 3rem;
}
.social-media-links__link {
    margin: 0 0 0 2rem;
}