.aside {
    position: sticky;
    width: 20%;
    max-width: 17rem;
    height: calc(90vh - 1.9rem);
}
.nav__item {
    display: block;
    margin: 1.6rem 1rem;
    max-width: 15rem;
}
.nav_disabled {
    display: block;
}
.main {
    width: 70%;
    flex-grow: 1;
}